<?xml version="1.0"?>
<config>
    <modules>
        <Webinse_Ajaxcart>
            <version>3.5.1</version>
        </Webinse_Ajaxcart>
    </modules>
    <global>
        <blocks>
            <ajaxcart>
                <class>Webinse_Ajaxcart_Block</class>
            </ajaxcart>
        </blocks>
        <helpers>
            <ajaxcart>
                <class>Webinse_Ajaxcart_Helper</class>
            </ajaxcart>
        </helpers>
        <models>
            <ajaxcart>
                <class>Webinse_Ajaxcart_Model</class>
            </ajaxcart>
        </models>
        <resources>
            <ajaxcart_setup>
                <setup>
                    <module>Webinse_Ajaxcart</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </ajaxcart_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <ajaxcart>
                <use>standard</use>
                <args>
                    <module>Webinse_Ajaxcart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </ajaxcart>
        </routers>
        <layout>
            <updates>
                <ajaxcart>
                    <file>ajaxcart.xml</file>
                </ajaxcart>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ajaxcart>
                                            <title>Webinse AjaxCart</title>
                                        </ajaxcart>
                                        <website>
                                            <title>Webinse Website</title>
                                        </website>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <ajaxcart>
            <all_settings>
                <catalog_list_show>1</catalog_list_show>
                <!--<catalog_view_show>1</catalog_view_show>-->
                <checkout_cart_redirect_timeout>10</checkout_cart_redirect_timeout>
                <choice_product_info>1</choice_product_info>
            </all_settings>
        </ajaxcart>
    </default>
</config>
